body {
  background-color: #000; /* Default to terminal black */
  color: #00FF00; /* Default to terminal green */
  font-family: 'Courier New', monospace;
  margin: 20px;
  padding: 20px;
  line-height: 1.6;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for both modes */
}

#name {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

a {
  color: #00FF00;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ADFF2F;
}

.blinking-cursor::after {
  content: '|';
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

body:not(.dark-mode) {
  background-color: #f0f0f0;
  color: #333;
}

body:not(.dark-mode) h1,
body:not(.dark-mode) h2,
body:not(.dark-mode) h3,
body:not(.dark-mode) p,
body:not(.dark-mode) a {
  color: #333;
}

body.dark-mode {
  background-color: #000; 
  color: #00FF00; 
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p,
body.dark-mode a {
  color: #00FF00; 
}

#theme-toggle {
  padding: 10px 15px;
  border: 2px solid #00FF00; 
  cursor: pointer;
  background-color: #000; 
  color: #00FF00; 
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#theme-toggle:hover {
  background-color: #00FF00;
  color: #000;
  border-color: #00FF00;
}

body:not(.dark-mode) #theme-toggle {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

body:not(.dark-mode) #theme-toggle:hover {
  background-color: #ddd;
  color: #333;
  border-color: #ccc;
}

#theme-toggle{
  font-family: 'Courier New', monospace;
}
#nvim{
  
    text-decoration: underline;
  
}